# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Test* 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ===================================== #
# Erlang Server objective files & dirs #
# ===================================== #
*.beam
erl_crash.dump
Server/.project
Server/ebin/logs*
Server/ebin/global_run_data*
Server/ebin/player_hibernate_data*
Server/ebin/Mnesia*
Server/ebin/.erlang.crypt
Server/ebin/mapDataToServer.txt
Server/ebin/http_requests*
Server/include/record_cfg_*.hrl
Server/src/data/cfg_*.erl
Server/tools/backstage/ebin/logs/
Server/tools/tsung-1.4.2/config.status
Server/tools/tsung-1.4.2/ebin/tsung_controller.app
Server/tools/tsung-1.4.2/ebin/tsung_recorder.app
Server/tools/tsung-1.4.2/ebin/tsung.app
Server/tools/tsung-1.4.2/examples/*.xml
Server/tools/tsung-1.4.2/examples/fs-nfs.xml
Server/tools/tsung-1.4.2/examples/http_distributed.xml
Server/tools/tsung-1.4.2/examples/http_setdynvars.xml
Server/tools/tsung-1.4.2/examples/http_simple.xml
Server/tools/tsung-1.4.2/examples/jabber_muc.xml
Server/tools/tsung-1.4.2/examples/jabber_privacy.xml
Server/tools/tsung-1.4.2/examples/jabber_register.xml
Server/tools/tsung-1.4.2/examples/jabber_roster.xml
Server/tools/tsung-1.4.2/examples/jabber.xml
Server/tools/tsung-1.4.2/examples/ldap.xml
Server/tools/tsung-1.4.2/examples/mysql.xml
Server/tools/tsung-1.4.2/examples/pgsql.xml
Server/tools/tsung-1.4.2/examples/thinks.xml
Server/tools/tsung-1.4.2/examples/thinks2.xml
Server/tools/tsung-1.4.2/Makefile
Server/tools/tsung-1.4.2/priv/tsung_controller_load.boot
Server/tools/tsung-1.4.2/priv/tsung_controller_load.script
Server/tools/tsung-1.4.2/priv/tsung_controller.boot
Server/tools/tsung-1.4.2/priv/tsung_controller.rel
Server/tools/tsung-1.4.2/priv/tsung_controller.script
Server/tools/tsung-1.4.2/priv/tsung_load.boot
Server/tools/tsung-1.4.2/priv/tsung_load.script
Server/tools/tsung-1.4.2/priv/tsung_recorder_load.boot
Server/tools/tsung-1.4.2/priv/tsung_recorder_load.script
Server/tools/tsung-1.4.2/priv/tsung_recorder.boot
Server/tools/tsung-1.4.2/priv/tsung_recorder.rel
Server/tools/tsung-1.4.2/priv/tsung_recorder.script
Server/tools/tsung-1.4.2/priv/tsung.boot
Server/tools/tsung-1.4.2/priv/tsung.rel
Server/tools/tsung-1.4.2/priv/tsung.script
Server/tools/tsung-1.4.2/src/log2tsung.pl
Server/tools/tsung-1.4.2/src/tsung_controller/tsung_controller.app.src
Server/tools/tsung-1.4.2/src/tsung_stats.pl
Server/tools/tsung-1.4.2/src/tsung-plotter/tsplot.py
Server/tools/tsung-1.4.2/src/tsung-rrd.pl
Server/tools/tsung-1.4.2/src/tsung/tsung.app.src
Server/tools/tsung-1.4.2/tsung-recorder.sh
Server/tools/tsung-1.4.2/tsung.sh
Server/tools/tsung-1.4.2/config.log
Server/tools/backstage/www/battle_result.txt
patch.diff

#=======================#
#local temp folder
#=======================#
Client/Unity_IOS/Data/
Client/Unity_IOS/Libraries/
Client/Unity_IOS/Unity-iPhone.xcodeproj/project.xcworkspace/xcuserdata/
Client/Unity_IOS/Unity-iPhone.xcodeproj/xcuserdata/
#Client/Unity/Assets/NGUI/
Client/Unity/Assets/nouse*
Client/Unity/Assets/Z_Test
Client/Unity_IOS/Unity-iPhone.xcodeproj
Client/Unity_IOS/Classes/Native/
Client/Unity_IOS/SDK/
Client/Unity_IOS/Frameworks/
Client/Unity_IOS/Unity-iPhone/
Client/Unity_IOS/build

Server/.idea/.name
Server/.idea/compiler.xml
Server/.idea/copyright/profiles_settings.xml
Server/.idea/emacs.xml
Server/.idea/encodings.xml
Server/.idea/misc.xml
Server/.idea/modules.xml
Server/.idea/rebar.xml
Server/.idea/workspace.xml
Server/Server.iml
Server/.idea/dictionaries/lee.xml
Server/.idea/inspectionProfiles/Project_Default.xml
Server/.idea/inspectionProfiles/profiles_settings.xml
Server/Gekko_Server.iml
ServerAdmin/Admin/page/compiles
Server/include/record_cfg_*.hrl
Server/src/data/cfg_*.erl
Client/Unity/Assets/Helpshift/Editor/mod_pbxproj.pyc
Client/Unity_IOS/MapFileParser
Client/Unity/.vscode/
Client/Unity/Assets/Plugins/Editor/VSCode.*
Client/Unity/Assets/Plugins/Editor.meta
Client/Unity/Assets/_PlatformAssets/Platforms
Client/Unity/Assets/_PlatformAssets/Platforms.meta
mod_pbxproj.pyc.meta
Contents.json
Client/Unity_IOS/LaunchScreen-iPad.png
Client/Unity_IOS/LaunchScreen-iPhoneLandscape.png
Client/Unity_IOS/LaunchScreen-iPhonePortrait.png
Client/Unity_IOS/LaunchScreen-iPad.xib
Client/Unity_IOS/LaunchScreen-iPhone.xib
Client/Unity_WSA
Client/Unity_UWP
